@use '../abstracts/variables.scss' as v;
@use '../abstracts/mixins.scss' as m;


main{
    background: url('../../../../public/img/hero_img.png');
    height: 95vh;
    background-size: cover;
    background-attachment: fixed;
    @include m.dflex(row,center,center);
    
    .hero_text{
        font-family: v.$font_inria;
        p{
            margin: 0;
        }
        .line1{
            opacity: 0;
            transition: opacity 1.5s ease-in-out; 
            // width: 100%;
            margin: 1.1vh auto;

        @include m.dflex(row,center,center);
        gap: 2vw;
        h1{
            // margin: 1vh auto;
            font-size: 3.5rem;
            text-transform: uppercase;
            margin: 0;
            font-family: v.$font_inria;
            // font-style: italic;

        }
        hr {
            border: none !important; 
            background-color: #ffffff !important; 
            height: 4px !important; 
            margin: 20px 0 !important; 
            width: 180px !important; 
            opacity: 1;
          }

        }
        .line2{
            opacity: 0;
            transition: opacity 1.5s ease-in-out; 
        @include m.dflex(row,center,center);
        gap: 2vw;
        margin: 1.1vh auto;

        h2{
            margin: 0;
            font-size: 2.9rem;
            text-transform: lowercase;
            font-style: italic;

        }

        }
        .line3{
            opacity: 0;
            transition: opacity 1.5s ease-in-out; 
            margin: 1.1vh auto;
            @include m.dflex(row,center,center);
            gap: 2vw;
    
            h2{
                margin: 0;
                font-size: 2.6rem;
                text-transform: uppercase;
            }
    
            }
            .line4{
                opacity: 0;
                transition: opacity 1.5s ease-in-out; 
            margin: 1.1vh auto;

                @include m.dflex(row,flex-end,end);
                
                h3{
                    // color: red;
                    margin: 0;
                    margin-right: 15vw;
                    font-size: 2.7rem;
                    text-transform: lowercase;
            font-style: italic;

                }
        
                }
    }
}
.about{
    text-align: center;
    &__title{
        margin: 4vh 0;
        font-weight: 100;
        font-family: v.$font_inria;
        text-transform: uppercase

    }
}
.objectives{
    
    &__title{
        text-align: center;
        margin: 6vh 0;
        font-family: v.$font_inria;
        text-transform: uppercase


    }
    &__content{
        // margin: 4vh 0;
        @include m.dflex(row,center,center);
        gap:4vw ;

        &__item{
            border-radius: 10px;
            width:20%;
            text-align: center;
            background-color: v.$primary-100;
            padding: 2vh 0.8vw;
        font-size: 15px;
        transition: all 0.4s ease-in;
        @include m.dflex(column,center,center);
        gap: 1.5vh;

        &:hover{
            box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.33) !important;
            transform: translateY(-5px);
        }

        }
    }
}
.commitments{
    width: 75%;
    margin: 12vh auto;
    &__text{
        text-align: center;
        font-size: 14px;
        line-height:  1.7;

    }
}
.products{
    font-family: v.$font_inria;
    // width: 90%;
    // margin: ;
    margin: 12vh auto;
    margin-top: 15vh;
    @include m.dflex(row,center,top);
    gap:4vw ;
    &__item{
        h2{
            margin: 0 5vw;
            font-size: 2.3rem;
            line-height:  1.5;
        }
        img{
            width: 300px;
            // width: 80%;
            height:60vh;
            object-fit: cover;
        }
    }
}
.exploits{
    // margin: 4vh 0;
    &__title h3{
        text-align: center;
        margin: 12vh auto;

    }
    &__content{
        @include m.dflex(column,center,center);
        gap: 10vh;
        &__item{
            @include m.dflex(row,center,center);
            gap: 5vw;
            &__img{
                width: 35%;
                // height: 500px;
                // max-width: 40%;
                img{
                    width: 100%;
                height: 600px;
            object-fit: cover;
            
        }
    }
    &__text{
        width: 50%;
        @include m.dflex(column,center,start);
        gap: 5vh;
    }
}
    .item2{
        flex-direction: row-reverse;
    }
    }
}
.quote{
    margin: 0 ;
    background: url('../../../../public/img/quote_img.png');
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    @include m.dflex(row,center,center);
    &__text{
        font-style: italic;
        width: 70%;
        text-align: center;
        font-size: 2.5rem;
        font-family: v.$font_inria;
        text-transform: capitalize;
        // letter-spacing: 3px;
        // font-family: in;
        // width: 100;
        p{
            font-size: 1.5rem;
            margin: 4vh 0;
        }
    }
}

// ------------------------------------------- MEDIA QUERIES ---------------------------

@media  screen and (max-width: 768px) {

    main{
        background: url('../../../../public/img/hero_img.png');
        height: 50vh;
        .hero_text{
            .line1{
            gap: 2vw;
            h1{
                // margin: 1vh auto;
                font-size: 1.8rem;
                // font-style: italic;
    
            }
            hr {
                width: 80px !important; 
              }
    
            }
            .line2{
    
            h2{
                display: none;
                margin: 0;
                font-size: 1.2rem;
    
            }
            }
            .line3{
                display: none;
                }
                .line4{
                    opacity: 0;
                    transition: opacity 1.5s ease-in-out; 
                margin: 1.1vh auto;
    
                    @include m.dflex(row,flex-end,end);
                    
                    h3{
                        font-size: 1.1rem;
    
                    }
            
                    }
        }
    }
    .about{
        &__text{
            font-size: 13px;
        }
    }
    .objectives{
        &__content{
            // margin: 4vh 0;
            @include m.dflex(column,center,center);
            gap:4vh ;
    
            &__item{
                width:90%;
            }
        }
    }
    .commitments{
        display: none;
    }
    .products{
        text-align: center;
        font-family: v.$font_inria;
        margin: 6vh auto;
        margin-top: 4vh;
        @include m.dflex(column,center,center);
        gap:4vw ;
        &__item{
        margin-top: 3vh;
            h2{
                margin: 0 5vw;
                font-size: 1.8rem;
                line-height:  1.5;
            }
            img{
                height:40vh;
                object-fit: cover;
            }
        }
    }
    .exploits{
        text-align: center;
        // margin: 4vh 0;
        p{
            font-size: 13px;
        }
        &__title h3{
            text-align: center;
            margin: 8vh auto;
    
        }
        &__content{
            @include m.dflex(column,center,center);
            gap: 5vh;
            &__item{
                @include m.dflex(column,center,center);
                gap: 4vw;
                &__img{
                    width: 90%;
                    img{
                        width: 100%;
                    height: 200px;
                    object-fit: cover;
                
            }
        }
        &__text{
            width: 90%;
            @include m.dflex(column,center,center);
            gap: 5vh;
            h2{
                font-size: 1.2rem;
            }
        }
    }
        .item2{
            flex-direction: column ;
        }
        }
    }
    .quote{
        margin: 0 ;
        background: url('../../../../public/img/quote_img.png');
        width: 100%;
        height: 50vh;
        @include m.dflex(column,center,center);
        &__text{
            font-style: italic;
            width: 85%;
            font-size: 1.4rem;
            p{
                font-size: 1rem;
            }
        }
    }
}


// /* Media query pour les tablettes en mode portrait */
// @media only screen and (min-width: 601px) and (max-width: 768px) {
//     /* Vos styles pour les tablettes en mode portrait ici */
// }

/* Media query pour les tablettes en mode paysage */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Vos styles pour les tablettes en mode paysage ici */
    main{
        background: url('../../../../public/img/hero_img.png');
        height: 50vh;
        .hero_text{
            .line1{
            gap: 2vw;
            h1{
                // margin: 1vh auto;
                font-size: 2.2rem;
                // font-style: italic;
    
            }
            hr {
                width: 80px !important; 
              }
    
            }
            .line2{
    
            h2{
                // display: none;
                margin: 0;
                font-size: .9rem;
    
            }
            }
            .line3{
                h2{
                    font-size: 2rem;
                }
                }
                .line4{
                    opacity: 0;
                    transition: opacity 1.5s ease-in-out; 
                margin: 1.1vh auto;
    
                    @include m.dflex(row,flex-end,end);
                    
                    h3{
                        font-size: 1.3rem;
    
                    }
            
                    }
        }
    }
    .objectives{
    
        &__title{
            text-align: center;
            margin: 5vh 0;
        }
        &__content{
            @include m.dflex(row,center,center);
            gap:4vw ;
                &__item{
                border-radius: 10px;
                width:30%;
                text-align: center;
                }
        }
    }
    .products{
        font-family: v.$font_inria;
        // width: 90%;
        // margin: ;
        margin: 12vh auto;
        margin-top: 15vh;
        @include m.dflex(row,center,top);
        gap:4vw ;
        &__item{
            h2{
                margin: 0 5vw;
                font-size: 1.5rem;
                line-height:  1.5;
            }
            img{
                width: 250px;
                // width: 80%;
                height:40vh;
                object-fit: cover;
            }
        }
    }
    .exploits{
        &__title h3{
            text-align: center;
            margin:6vh auto;
    
        }
        &__content{
            @include m.dflex(column,center,center);
            gap: 8vh;
            &__item{
                @include m.dflex(row,center,center);
                gap: 4vw;
                &__img{
                    width: 50%;
                    img{
                        width: 100%;
                    height: 600px;
                    object-fit: cover;
                
            }
        }
        &__text{
            width: 50%;
            @include m.dflex(column,center,start);
            gap: 3vh;
            h2{
                font-size: 1.5rem;
            }
        }
    }
        .item2{
            flex-direction: row-reverse;
        }
        }
    }
    .quote{
        margin: 0 ;
        background: url('../../../../public/img/quote_img.png');
        width: 100%;
        height: 40vh;
        @include m.dflex(column,center,center);
        &__text{
            font-style: italic;
            width: 85%;
            font-size: 1.4rem;
            p{
                font-size: 1rem;
            }
        }
    }
}