@use '../abstracts/variables.scss' as v;
@use '../abstracts/mixins.scss' as m;

.services_desc{
    @include m.dflex(row,center,center);
    .text{
        // background-color: rgba(255, 0, 255, 0.426);
        background-color: v.$bg-300;
        padding: 2vh 4vw;
        color: rgb(255, 255, 255);
        width: 50%;

        h1{
            font-size: 3rem;
        }
        p{
            font-size: 14px;
            margin: 3vh 0;
        }
        h6{
            margin: 2vh 0;
        }
    }
    .year{
        padding: 2vh 4vw;

        color: v.$primary-300;
        width: 40%;
        h1{
            font-size: 5rem;
            margin: 0;
        }
        h3{
            font-size: 2.5rem;
            margin: 0;

        }
    }
}
.solutions{
    h2{
        font-size: 2rem;
        text-align: center;
        margin: 5vh 0;
    }
    .services_solutions{
        margin: 6vh 0;
     @include m.dflex(row,center,center);
     &__img{
        width: 40%;
        img{
            width: 100%;
            height:500px;
            object-fit: cover;
        }
     }
     &__text{
        // background-color: yellow;
        width: 45%;
        height: 500px;
        @include m.dflex(column,center,center);
        .bg-colored{
            height: 50%;
            background-color: v.$primary-100;
            // text-transform:none;
            padding: 4vh 3vw;

            
        }
        .bg_primary{
        background-color: v.$bg-300;
            // text-transform: uppercase;
            padding: 4vh 3vw;
            height: 50%;
            // background-color: rgb(41, 41, 140);

        }
     }
    }
}
.services_card{
    .cards{

        @include m.dflex(row,center,center);
        flex-wrap: wrap;
        gap: 2vh 4vw;
    }
    &__item{
        padding: 3vh 2vw;
        width: 40%;
        &:hover{
            box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.077);

        }
    }
}
.turnover{
    h2{
        text-align: center;
    }
    // max-width: 100%;
    padding: 4vh 2vw;
    background-color: green;
    &__content{
        @include m.dflex(row,center,center);
        &__item{
            padding: 2vh 3vw;
            border-left: 3px red solid;
        }
    }
}
// .solutions_text_final{
//     color: blue;
// }

@media screen and (max-width : 768px){
.services_desc {
    @include m.dflex(column,center,center);
    color: red;

}


}

// ---------------------------------- RESPONSIVE -------------------------------

@media  screen and (max-width: 768px) {
    .services_desc{
        text-align: center;
        @include m.dflex(column-reverse,center,center);
        .text{
            padding: 2vh 2vw;
            width: 90%;
    
            h1{
                font-size: 2.5rem;
            }
            p{
                font-size: 14px;
                margin: 3vh 0;
            }
            h6{
                font-size: .8rem;
            }
        }
        .year{
            width: 90%;
            h1{
                font-size: 5rem;
                margin: 0;
            }
            h3{
                font-size: 2rem;
                margin: 0;
    
            }
        }
    }
    .solutions{
        text-align: center;
        h2{
            font-size: 2rem;
            margin: 3vh 0;
        }
        .services_solutions{
            margin: 4vh 0;
         @include m.dflex(column,center,center);
         &__img{
            width: 95%;
            img{
                width: 100%;
                height:300px;
                object-fit: cover;
            }
         }
         &__text{
            // background-color: yellow;
            width: 95%;
            height: 500px;
            @include m.dflex(column,center,center);
         }
        }
    }
    .services_card{
        text-align: center;
        .cards{   
            @include m.dflex(column,center,center);
            flex-wrap: wrap;
            gap: 4vh 4vw;
        }
        &__item{
            padding: 3vh 2vw;
            width: 90%;
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .services_desc{
        text-align: center;
        @include m.dflex(column-reverse,center,center);
        .text{
            padding: 2vh 2vw;
            width: 90%;
    
            h1{
                font-size: 2.5rem;
            }
            p{
                font-size: 14px;
                margin: 3vh 0;
            }
            h6{
                font-size: .8rem;
            }
        }
        .year{
            width: 90%;
            h1{
                font-size: 5rem;
                margin: 0;
            }
            h3{
                font-size: 2rem;
                margin: 0;
    
            }
        }
    }
    .solutions{
        text-align: center;
        h2{
            font-size: 2rem;
            margin: 3vh 0;
        }
        .services_solutions{
            margin: 4vh 0;
         @include m.dflex(column,center,center);
         &__img{
            width: 95%;
            img{
                width: 100%;
                height:300px;
                object-fit: cover;
            }
         }
         &__text{
             // background-color: yellow;
             @include m.dflex(row,center,center);
             height: auto;
            width: 95%;
            // height: 500px;
         }
        }
    }
    .services_card{
        text-align: center;
        .cards{   
            @include m.dflex(row,center,center);
            flex-wrap: wrap;
            gap: 4vh 4vw;
        }
        &__item{
            padding: 2vh 1vw;
            width: 45%;
            h5{
                font-size: 1rem;
            }
            p{
                font-size: 0.8rem;
            }
        }
    }

}
