@use './abstracts/mixins.scss' as m ;
@use './abstracts/variables.scss' as v;
.nav{
    // background-color: bisque;
    // color: #F0EDCF;
    padding: 3vh 5vw;
    @include m.dflex(row,space-between,center);
    transition: all 0.5s ease-in-out;
    a{
        margin: 1vw;
        font-weight: 600;
        padding-bottom: 0.5vh;
        &:hover{
            color: v.$primary-300
        }
    }
    &__right{
        @include m.dflex(row,space-between,center);
        gap: 1vw;
        a{
            margin: 0;
            width: fit-content;
        }
    }
    .logo{
        width: 100px;
    }
    .nav_link.active {
      color: v.$primary-300

    }
}



//------------------------------ FOOTER ----------------------------------------//

footer{
    h5{
    font-family: v.$font_inria;

    }
    .logo{
        width: 150px;
    }
    a:hover{
            color: v.$primary-300
        
    }
    background-color: v.$bg-200;
    
    .columns{
        padding: 4vh 2vw;
    @include m.dflex(row,space-around,center);
    &__center{
    @include m.dflex(column,space-around,left);
    gap: 1vh;

    }
}
    .copy{
    background-color: v.$primary-100;

        p{
            padding: 1vh 0;
           text-align: center;
       }
    }
}

//MENU BURGER
.BurgermenuIcone{
    display: none;
  }
  .nav__right ul{
    @include m.dflex(row,space-between ,center );
    list-style: none;
    gap: 2rem;
    li{
      @include m.dflex(row,space-between ,center );
      gap:2px
    }
}
  .burgerMenu {
    // color: red;
    text-align: center;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -300px;
    transition: all 1s ease;
    background-color: v.$bg-200;
    z-index: 999;
  }
  
  .close{
    @include m.dflex(row,space-between ,center );
    padding: 0 3vh;
  
  }
  .burgerMenu.active {
    right: 0;
  }
  
  .burgerMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .burgerMenu li {
    border-bottom: 1px solid #ffffff;
    @include m.dflex(row,center ,center );
    
  }
  
  .burgerMenu li:last-child {
    border-bottom: none;
    // border: 3px double white;
    // margin: 2vh;
  }
  
  .burgerMenu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    transition:0.3s;
  }


  //MEDIA QUERIES

  @media  screen and (max-width: 768px) {
    // body{
    //   background-color: red;
    // }
    .nav__right {
        display: none !important;
    }

    .BurgermenuIcone {
        display: block !important;
    }

    // header nav {
    //     justify-content: space-between;
    //     padding: 1vh;
    // }

    /* ------------- SECTION FOOTER ------------- */

    footer {
      text-align: center;
        .columns {
            padding: 4vh 2vw;
            @include m.dflex(column, center, center);
            gap: 5vh;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .nav{
    a{
        margin: 2vw;
    }
  }

  footer{
    .logo{
        width: 120px;
    }
    background-color: v.$bg-200;
}

}