// $primary-100:#6c35de;
// $primary-200:#a364ff;
// $primary-300:#ffc7ff;
// $accent-100:#cb80ff;
// $accent-200:#373737;
// $text-100:#ffffff;
// $text-200:#e0e0e0;
// $bg-100:#272f3a;
// $bg-200:#342a45;
// $bg-300:#4d425f;
$font_inria: 'Inria Serif', serif;
$primary-400:#5500a0;
$primary-100:#0e72a8;
$primary-200:#19376D;
$primary-300:#05C3DE;
// $accent-100:#D9ACF5;
// $accent-200:#fff4ff;
// $text-100:#EEEEEE;
// $text-200:#FDEBED;
$bg-100:#101010;
$bg-200:#0B2447;
$bg-300:#131313;
  
  